<div class="footer">
    <div class="links">
      <a href="./document?file=tos">Algemene voorwaarden Theateronline.be</a>
      <a href="./document?file=faq">Veelgestelde vragen</a>
      <a href="./document?file=contact">Contact</a>
      <a href="./document?file=privacy-policy">Privacybeleid</a>
      <a href="./document?file=cookie-policy">Cookiebeleid</a>
      <p>DEKETELECREATIONS BVBA</p>
    </div>
</div>