<!DOCTYPE html>
<html>
<head>
    <title>Theateronline.be</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/videoplayer.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.7.9/shaka-player.ui.min.js"></script>
    <!-- Shaka Player ui compiled library default CSS: -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.7.9/controls.min.css">
    <!-- Chromecast SDK (if you want Chromecast support for your app): -->
    <script defer src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>

</head>
<body>
    <div class="header">
        <div class="logo">theateronline</div>
        <div class="navigation">
            <a class="nav-item" href="../">Home</a>
            <a class="nav-item">Producenten</a>
            <a class="nav-item">Prijzen</a>
        </div>
    </div>
    
    <div class="page">
      <script>
          
          function play(){
            document.querySelector('.player-title').classList.add("invisible");
          }

          function stop(){
            document.querySelector('.player-title').classList.remove("invisible");
          }
      </script>
    <div class="video">
      <div data-shaka-player-container data-shaka-player-cast-receiver-id="07AEE832">
        <video autoplay data-shaka-player id="video" style="width:100%;height:100%"></video>
      </div>
      <script>
        var manifestUri;
    
        async function init() {
          const video = document.getElementById('video');
          const ui = video['ui'];
          const controls = ui.getControls();
          const player = controls.getPlayer();
    
          window.player = player;
          window.ui = ui;
    
          player.addEventListener('error', onPlayerErrorEvent);
          controls.addEventListener('error', onUIErrorEvent);
    
          try {
            // Extract id from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const pageId = urlParams.get('id');
            console.log("id in header: "+ pageId);
            // Construct the API endpoint with the id
            const apiEndpoint = `/getVideo?id=${pageId}`;
    
            // Fetch the video URL from the server
            const response = await fetch(apiEndpoint);
            const videoUrl = await response.text();

    
            // Set the fetched video URL as the manifestUri
            manifestUri = videoUrl;
    
            // Load the player with the fetched video URL
            await player.load(manifestUri);
            console.log('The video has now been loaded!');
          } catch (error) {
            onPlayerError(error);
          }
        }
    
        function onPlayerErrorEvent(errorEvent) {
          onPlayerError(event.detail);
        }
    
        function onPlayerError(error) {
          console.error('Error code', error.code, 'object', error);
        }
    
        function onUIErrorEvent(errorEvent) {
          onPlayerError(event.detail);
        }
    
        function initFailed(errorEvent) {
          console.error('Unable to load the UI library!');
        }
    
        document.addEventListener('shaka-ui-loaded', init);
        document.addEventListener('shaka-ui-load-failed', initFailed);
        // Add event listeners for play and pause events
      </script>
      <div class="title player-title"><%= video.title %></div>
    </div>
    
      
    </div>
    <div class="buy">
        <button>Koop deze show</button>
        <button>Bekijk met theateronline+</button>
        <button>Bestel DVD</button>
      </div>
    <div class="description">
      <p><%= video.discription %></p>
    </div>
  </div>
  

    <div class="footer">
        <div class="links">
          <a href="#">Algemene voorwaarden Theateronline.be</a>
          <a href="#">Veelgestelde vragen</a>
          <a href="#">Contact</a>
          <a href="#">Privacybeleid</a>
          <a href="#">Cookiebeleid</a>
          <p>DEKETELECREATIONS BVBA</p>
        </div>
      </div>
</body>
</html>
